.demo {
  color: green;
}

.wrapper {
  display: flex;
  height: 300px;
}

.content {
  width: 70%;
  background-color: yellow;
  color: white;
}

.sidebar {
  width: 30%;
  background-color: green;
  color: white;
}
