<!-- <h1 class="demo">Hello Angular</h1> -->
<!-- <app-demo></app-demo> -->

<!-- Bài tập 1 -->
<!-- <app-header></app-header>
<div class="wrapper">
  <app-content class="content"></app-content>
  <app-sidebar class="sidebar"></app-sidebar>
</div>
<app-footer></app-footer> -->

<!-- Bài tập2 -->
<!-- <app-baitap2></app-baitap2> -->

<!-- Data-binding -->
<!-- <app-data-binding></app-data-binding> -->

<!-- <app-structural-directives></app-structural-directives> -->

<!-- <app-attribute-directives></app-attribute-directives> -->

<!-- <app-movie></app-movie> -->

<!-- <app-cart-excersice></app-cart-excersice> -->

<!-- <a routerLink="/baitap2">Bài tập 2</a>
<a routerLink="/movie">Movie</a>
<a routerLink="/cart">Cart</a> -->


<router-outlet></router-outlet>











