<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">Thêm phim</div>
      <div class="card-body">
        <div class="form-group">
          <label>Tên phim</label>
          <input type="text" class="form-control" #name />
        </div>
        <div class="form-group">
          <label>Giá</label>
          <input type="text" class="form-control" #price />
        </div>
        <div class="form-group">
          <label>Hình ảnh</label>
          <input type="file" class="form-control-file" #image />
        </div>
      </div>
      <div class="card-footer text-muted">
        <button
          class="btn btn-success"
          (click)="handleAdd(name.value, price.value, image.files[0])"
        >
          Thêm phim
        </button>
      </div>
    </div>
  </div>
</div>
